.footer {
	background-color: silver;
	&__container {}
	&__top {}
	&__bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 40px;
		flex-wrap: wrap;
		text-align: center;
	}
	&__copy {}
	&__author {}
}
