.header {
	&__container {}
	&__menu {}
	&__print-address {display: none;}
}

.menu {
	&__container {
		@media (max-width: $media-menu+px) {
			height: 100%;
			width: 100%;
			position: fixed;
			top: -100%;
			left: 0;
			z-index: 50;
			background-color: silver;
			transition: top $timer-menu;
			&._active {
				top: 0;
			}
		}
	}
// Menu slides from right
	// &__container {
	// 	@media (max-width: $media-menu+px) {
	// 		height: calc(100% - 60px);
	// 		width: 300px;
	// 		position: fixed;
	// 		top: 60px;
	// 		right: -300px;
	// 		z-index: 50;
	// 		background-color: silver;
	// 		transition: right $timer-menu linear;
	// 		&._active {
	// 			right: 0;
	// 		}
	// 	}
	// }
	&__items {
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: thistle;
		scrollbar-width: none;
		&::-webkit-scrollbar {width: 0;}
		@media (max-width: $media-menu+px) {
			height: 100%;
			overflow: auto;
			flex-direction: column;
			justify-content: flex-start;
		}
	}
	&__item {
		position: relative;
		// &:hover .dropdown {
		// 	visibility: visible;
		// 	opacity: 1;
		// }
	}
	&__link, &__link:visited {
		display: inline-block;
		height: 50px;
		line-height: 50px;
		padding: 0 20px;
		font-size: 16px;
		white-space: nowrap;
		background-color: orange;
		&:hover {
			background-color: peachpuff;
		}
	}
	// &__dropdown {
	// 	position: absolute;
	// 	top: 50px;
	// 	left: 0;
	// }
}
// .dropdown {
// 	display: inline-block;
// 	width: 50px;
// 	height: 30px;
// 	background-color: peachpuff;
// 	visibility: hidden;
// 	opacity: 0;
// 	transition: all .2s;
// 	@media (max-width: $media-menu+px) {
// 		display: none;
// 	}
// }
.this-page {
	pointer-events: none;
}
.menu-turn-off-area {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transition: opacity $timer-menu, visibility $timer-menu;
	&._active {
		opacity: 1;
		visibility: visible;
	}
}
.menu-close-btn {
	height: 0;
	display: none;
	position: relative;
	cursor: pointer;
	span {
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	@media (max-width: $media-menu+px) {
		display: block;
	}
}
.menu-open-btn {
	display: none;
	cursor: pointer;
	@media (max-width: $media-menu+px) {
		display: inline-block;
	}
}
// Animated Burger
// .menu-open-btn {
// 	display: none;
// 	width: 30px;
// 	height: 30px;
// 	overflow: hidden;
// 	position: relative;
// 	cursor: pointer;
// 	&:before, &:after, & span {
// 		content: '';
// 		width: 150%;
// 		height: 6px;
// 		background-color: black;
// 		position: absolute;
// 		left: -1px;
// 		transform-origin: 4px;
// 		transition: transform $timer-menu;
// 	}
// 	&:before {top: 0;}
// 	&:after {bottom: 0;}
// 	& span {top: 12px;}
// 	&._active {
// 		&:before {transform: rotate(45deg);}
// 		&:after {transform: rotate(-45deg);}
// 		& span {transform: translateX(100%);}
// 	}
// 	@media (max-width: $media-menu+px) {
// 		display: block;
// 	}
// }