.selection {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	&__header {
		height: 30px;
		border: 1px solid gray;
	}
	&__list {
		height: 0;
		border: 1px solid gray;
		margin-top: 5px;
		overflow: hidden;
		visibility: hidden;
		transition: height .3s, visibility .3s;
		&._active {
			visibility: visible;
		}
	}
	&__option {
		height: 30px;
		&:hover {
			background-color: silver;
		}
		&._selected {
			color: red;
		}
	}
}
