// версия с разными размерами текста
.accordion {
	width: 200px;
	border: solid 1px silver;
	&__item {
		height: 30px;
		overflow: hidden;
		transition: height $timer-accordion;
		&-header {
			display: flex;
			align-items: center;
			height: 30px;
			background-color: lemonchiffon;
			font-weight: bold;
			cursor: pointer;
			user-select: none;
		}
		&-content {
			background-color: silver;
		}
	}
}