.checkbox {
	display: none;
	& + label {
		position: relative;
		font-size: 22px;
		font-family: Arial;
		margin-left: 40px;
		&:before, &:after {
			content: '';
			display: inline-block;
			position: absolute;
			border-radius: 20px;
			cursor: pointer;
			transition: all .2s;
		}
		&:before {
			height: 24px;
			width: 40px;
			background-color: #ddd;
			top: 0;
			left: -40px;
		}
		&:after {
			width: 22px;
			height: 22px;
			background-color: white;
			top: 1px;
			left: -39px;
		}
	}
	&:checked {
		& + label {
			&:before {background-color: orange;}
			&:after {left: -23px;}
		}
	}
}
