@import "t/header";
@import "t/footer";
// @import "t/modal";
// @import "t/form";
// @import "t/select";
// @import "t/accordion_css";
// @import "t/accordion_js";
// @import "t/input_checkbox";
// @import "t/input_radio";
// @import "t/input_range_colored";
// @import "t/input_range_double";
// @import "t/video_player";
// @import "t/loadscreen";
// @import "t/spoiler";
// @import "t/tabs";
// @import "t/up_button";


body {
	background-color: #BDE;
	font-family: Arial;
	color: #222;
	&._locked {overflow: hidden;}
	// if header is fixed there are it's heights in style.scss
	padding-top: $header-desktop-height;
	@media (max-width: $mobile+px) {padding-top: $header-mobile-height;}
	// Variables for JS transitions
	--timer-menu: #{$timer-menu};
	--timer-modal: #{$timer-modal};
}
.container {
	width: 100%;
	max-width: 1200px;
	min-width: calc(320px - (100vw - 100%));
	margin: 0 auto;
	padding: 0 15px;
}

// #svg-map path {
// 	transform: scale(0.00113378, 0.00192307);
// }

.content {
	// Example for block margins
	// padding-top: 70px;
	// padding-bottom: 80px;
	// &__catalog {
	// 	.--page-about & {margin-top: 67px;}
	// 	.--page-activity & {margin-top: 10px;}
	// }
	// &__about {
	// 	.--page-main & {margin-top: 110px;}
	// 	.--page-about & {margin-top: 10px;}
	// }
}
