// Mixins (@include)
@mixin text-nowrap() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@mixin text-nowrap-multi($num-of-lines) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $num-of-lines;
	overflow: hidden;
}
// /