@media print {
	* {
		color: black !important;
		background: none !important;
	}
	.container {padding: 0;}

	.header__print-address {
		display: block;
		font-family: Arial;
		font-size: 26px;
	}

	.noscript-alert,
	.menu,
	.button
		{display: none;}

	.header {
		position: relative;
	}
}
// Перенос строк. Применяется к блочным эл-там. В Chrome работает только с body.children
// page-break-before: always;
// page-break-after: auto;
