@media print {
	* {
		color: #000 !important;
		background: none !important;
	}
	.container {padding: 0;}

	.header {
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		&__print-address, &__print-address-qr {
			display: block;
			font-family: Arial;
			font-size: 26px;
		}
	}

	.noscript-alert,
	.header-menu-turn-off-area,
	.header-menu-open-btn,
	.header-menu-close-btn,
	.header-submenu-back-btn,
	.header-menu-hide-wrapper,
	.header-submenu-hide-wrapper,
	.breadcrumbs,
	.form,
	.up-button
		{display: none;}

}
// Перенос строк. Применяется к блочным эл-там. В Chrome работает только с body.children
// page-break-before: always;
// page-break-after: auto;
