@media print {
	* {
		color: black !important;
		background: none !important;
	}
	.container {padding: 0;}
	
	.noscript-alert,
	.menu,
	.button
		{display: none;}

	.header {
		position: relative;
	}
}