// TO DO:
// -

// Media breakpoints:
// 1400 768 620 550 500 400
$mobile: 768;

// $maxWidth: ; // продвинутое... для скалирования шрифтов? и retina


// Colors
$color-1: #ffffff;
$color-2: #000000;


// Formulas

// CSS 
// width: calc(900 * 0.8 / 1200 * 100vw + 900 * 0.2 * 1px);

// SCSS 
// width: 55px / 1200px * 100vw; 
// width: 23 / $md1 * 100vw;
// новая версия sass: math.div(70, $mobile) * 100vw; (использовать с @use "sass:math";)
// /