@use "sass:math";
@import "_reset";
@import "_noscript";
@import "_mixins";
@import "_icons";


// Fonts
// roboto
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
@import "fontscript";
$font-size-default: rem(16);
$font-family: Roboto, Arial, sans-serif;

$font-main: $font-family;
$font-headers: $font-family;
$font-links: $font-family;


// Colors
$color-theme1: #B54967;
$color-theme2: #0CBF51;
$color-theme3: #4799B7;
$color-bg-page: #BDE;
$color-bg-header: #fff;
$color-bg-footer: #999;
$color-bg-section: #ccc;
$color-text-dark: #222;
$color-text-light: #eee;
$color-button: $color-theme2;


// Page sizes
$page-min-width: 320px;
$page-max-width: 1920;
$container-base-width: 1200;
$container-padding: 15;
$container-width: $container-padding * 2 + $container-base-width;


// Media breakpoints
$desktop: $container-width;
$tablet: 992;
$mobile: 768;
$mobile-s: 480;

$media-header: $mobile;
$media-header2: 390;

$media-footer: 850;
$media-footer2: 530;


// Transitions
$timer-hover: 0.15s;
$timer-menu: 0.5s;
$timer-modal: 0.7s;
$timer-select: 0.2s;
$timer-spoiler: 0.2s;
$timer-slider: 0.5s;
$timer-accordion: 0.3s;


@import "_globs";
@import "_main";
@import "_print";