/* TO DO:

*/

@use "sass:math"; // for sass functions
@import "_reset";
@import "_noscript";
@import "_mixins";
@import "_icons";


// Fonts
// Roboto
@import "fontscript";
$font-rob: Roboto, Arial, sans-serif;


// Colors
$color-1: #fff;
$color-2: #000;


// Transitions
$timer-hover: 0.15s;
$timer-menu: 0.5s;
$timer-modal: 0.7s;
$timer-select: 0.2s;
$timer-slider: 0.5s;
$timer-accordion: 0.3s;


// Header heights
$header-desktop-height: 70px;
$header-mobile-height: 70px;


// Media breakpoints
$mobile: 768;

$media-header: $mobile;
$media-header2: 390;

$media-footer: 850;
$media-footer2: 530;


@import "_globs";
@import "_main";
@import "_print";