@import "_reset";
@import "_noscript";
@import "_mixins";

// Colors
$color-1: #ffffff;
$color-2: #000000;


// Fonts
// Roboto
@import "fontscript";
$font-rob: Roboto, Arial, sans-serif;


// Transitions
$timer-menu: 1.4s;
$timer-modal: 0.8s;
$timer-hover: 0.1s;


// Media breakpoints (desktop first):
$mobile: 768;

$media-header: $mobile;
$media-header2: 390;
$media-menu: $mobile;

$media-footer: 850;
$media-footer2: 530;


@import "_icons";
@import "_main";
@import "_print";

// TO DO:
// -


// Дополнительно
// $maxWidth: ; // продвинутое... для скалирования шрифтов? и retina


// Formulas

// width: calc(900 / #{$media} * 100vw);
// width: calc(900 * 0.8 / #{$media} * 100vw + 900 * 0.2 * 1px);

// clip-path: polygon(x y, x y, x y, x y...); // отсчет от левого верхнего угла
// clip-path: polygon(0px 0px, 50px 0px, 50px 50px, 0px 50px);
