@use "sass:math";
@import "_reset";
@import "_noscript";
@import "_mixins";
@import "_icons";


// Fonts
// roboto
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
@import "fontscript";
$font-1: Roboto, Arial, sans-serif;


// Colors
$color-1: #000;
$color-2: #fff;


// Page sizes
$font-size-default: 16px; //px
$page-min-width: 320px; //px
$page-max-width: 1920;
$container-base-width: 1200;
$container-padding: 15;
$container-width: $container-padding * 2 + $container-base-width;


// Media breakpoints
$desktop: $container-width;
$tablet: 992;
$mobile: 782;
$mobile-s: 480;

$media-header: $mobile;
$media-header2: 390;

$media-footer: 850;
$media-footer2: 530;


// Transitions
$timer-hover: 0.15s;
$timer-menu: 0.5s;
$timer-modal: 0.7s;
$timer-select: 0.2s;
$timer-spoiler: 0.2s;
$timer-slider: 0.5s;
$timer-accordion: 0.3s;
$timer-tabs: 0.8s;


@import "_globs";
@import "_main";
@import "_404";
@import "_print";