.jq-slider {display: inline-block;} // мой класс, остальное добавляет скрипт
.ui-slider { // полоса слайдера (основная)
	height: 12px;
	width: 300px;
	background-color: lime;
}
.ui-state-active {
	background: orange !important;
	border: solid 1px #555;
}
.ui-corner-all { // все углы полосы и ползунка, так же есть каждый отдельно
	border-radius: 20px;
}
.ui-slider-range-min {
	background-color: orange;
}
// остальные классы в devtools
#jq-slider-count {
	display: inline-block;
	margin-left: 20px;
}
.slider-bubble {
	position: absolute;
	top: -25px;
	left: -5px;
	display: inline-block;
	border: solid 1px #555;
	border-radius: 5px;
	font-size: 12px;
	padding: 3px;
	color: #000;
}
