body {
	background-color: #f1f1f1; // scrollbar color
	font-family: Arial;
	color: black;
	&._locked {overflow: hidden;}
}
.page {
	overflow: hidden; // при scroll lock не вылезают всякие куски
}
.container {
	max-width: 900px;
	min-width: calc(320px - (100vw - 100%));
	margin: 0 auto;
	padding: 0 10px;
}

// Готовые:
@import "templates/menu";
@import "templates/popup";
// @import "templates/accordion_css";
@import "templates/accordion_js";
@import "templates/input_checkbox";

// Доделать:
@import "templates/input_range";





// test elements
h3 {text-align: center;}
.test-wrapper {
	width: 100%;
	max-width: 1000px;
	border: solid 2px lime;
	margin: 5px auto 20px;
	// overflow: hidden;
}
.test-button {
	text-align: center; 
	cursor: pointer;
}